<html ng-app="CorridaApp">
	<head>
		<title>Corrida</title>
		<meta charset="utf-8">

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link href="css/style.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		
		<script src="controllers/IndexController.js"></script>
		<script src="models/banco.js"></script>
	</head>
	
	<body ng-controller="cadastrarController">
		<h1 class="titulo">
			<img class="logo" src="img/logo.png">
		</h1>
		
		<div class="container menu">
			<h2>Cadastrar Corredor</h2>
	
			<div class="row">
				<div class="col-md-10 form-group">
					<div class="col-md-4">
						<span>Nome:</span>
						<input type="text" class="form-control" placeholder="Nome do Corredor" ng-model="corredor.nome" required>
					</div>
					
					<div class="col-md-4">
						<span>Sexo:</span>
						<select ng-model="corredor.sexo" class="form-control" required>
							<option value="" disabled selected>Sexo</option>
							<option>Masculino</option>
							<option>Feminino</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<span>Equipe:</span>
						<input type="text" class="form-control" placeholder="Equipe" ng-model="corredor.equipe" required>
					</div>
					
					<div class="col-md-4">
						<span>Cidade:</span>
						<input type="text" class="form-control" placeholder="Cidade" ng-model="corredor.cidade" required>
					</div>
					
					<div class="col-md-4">
						<span>Idade:</span>
						<input type="number" class="form-control" placeholder="Idade" ng-model="corredor.idade" required>
					</div>
					
					<div class="col-md-4">
						<span>Numero:</span>
						<input type="number" class="form-control" placeholder="Numero" ng-model="corredor.numero" required>
					</div>
					
					<div class="col-md-6" style="margin-top: 10px;">		
						<input type="checkbox" class="" placeholder="Equipe" ng-model="corredor.corredorLocal" required> Corredor local
					</div>
					
					<div class="col-md-6" style="margin-top: 10px;">		
						<input type="checkbox" class="" placeholder="Equipe" ng-model="corredor.cadeirante" required> Cadeirante
					</div>
					
					<div class="col-md-4 btn-cadastro">					
						<button 
							type="button" 
							class="btn btn-success" 
							ng-disabled="corredor.nome==null || corredor.sexo==null || 
										 corredor.equipe==null || corredor.cidade==null ||
										 corredor.idade==null || corredor.numero==null" 
							ng-click="cadastrarCorredor(corredor);">Cadastrar
						</button>
					</div>
				</div>
			</div>

			<hr style="border-top: 2px solid rgba(0, 150, 136, 0.4);">
			
			<div class="dadosMenu">
			
				<div class="blocoBaixo" ng-controller="chegadaController">
					<h2>Registrar Chegada</h2>
					
					<div class="col-md-4 comando-cronometro">
						<div id="vis" type="button" style="margin-right: 15px;" class="btn btn-warning tamanho text">00:00:00</div>	
						<button type="button"  class="btn btn-success"  onclick="javascript:avvia();">Iniciar</button>
						<button type="button"  class="btn btn-info"  onclick="javascript:ferma();">Parar</button>
						<button type="button"  class="btn btn-primary"  onclick="javascript:azzera();">Zerar</button>
					</div>		
					
					<div class="row">
						<div class="col-md-10 form-group">
							<div class="col-md-4">
								<span>Numero:</span>
								<input type="number" class="form-control" placeholder="Numero do corredor" ng-model="numero">
							</div>
						</div>
						<div class="col-md-4 btn-cadastro">					
						<button type="button" class="btn btn-success" ng-disabled="numero==null" ng-click="salvarChegada(numero);">Salvar Chegada</button>
					</div>
					</div>
				</div><!-- bloco baixo-->
				
				<hr style="border-top: 2px solid rgba(0, 150, 136, 0.4);">
				
				<div class="blocoBaixo">
					<h2>Corredores Cadastrados</h2>
					<button type="button" class="btn btn-success btn-atualizar" ng-click="atualizarCorredores();">Atualizar</button>
					
					 <div class="row">                         
						<div class="col-xs-4">
							<label for="search">Pesquisar:</label>
							<input ng-model="q" id="search" class="form-control" placeholder="Pesquisar corredor">
						</div>
					</div>
					<br>
					 <div class="panel panel-default">
						<div class="panel-body">
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Nome</span></th>
										<th><span>Sexo</span></th>
										<th><span>Equipe</span></th>
										<th><span>Cidade</span></th>
										<th><span>Idade</span></th>
										<th><span>Numero</span></th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dado in corredores | filter:q | orderBy:'nome'">
										<td>
											{{dado.nome}}
										</td>

										<td>
											{{dado.sexo}}
										</td>

										<td>
											{{dado.equipe}}
										</td>

										<td>
											{{dado.cidade}}
										</td>
										<td>
											{{dado.idade}}
										</td>
										<td>
											{{dado.numero}}
										</td>
										
										<td>
											<a href="#" class="table-link danger">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-trash-o fa-stack-1x fa-inverse" ng-click="excluirCorredor(dado.numero);"></i>
												</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div><!-- bloco baixo-->
				
				<hr style="border-top: 2px solid rgba(0, 150, 136, 0.4);">
				
				<!-- classificação geral -->
				<div class="blocoBaixo">
					<h2>Classificação Geral</h2>
					 <div class="row">                         
						<div class="col-xs-4">
							<label for="search">Pesquisar:</label>
							<select ng-model="sexoGeral" class="form-control" required>
								<option value="" selected>Sexo</option>
								<option>Masculino</option>
								<option>Feminino</option>
							</select>
						</div>
					</div>
					<br>
					 <div class="panel panel-default">
						<div class="panel-body">
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Nome</span></th>
										<th><span>Sexo</span></th>
										<th><span>Equipe</span></th>
										<th><span>Cidade</span></th>
										<th><span>Idade</span></th>
										<th><span>Numero</span></th>
										<th><span>Tempo</span></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dado in corredorTempo | filter:sexoGeral | orderBy:'tempo'">
										<td>
											{{dado.nome}}
										</td>

										<td>
											{{dado.sexo}}
										</td>

										<td>
											{{dado.equipe}}
										</td>

										<td>
											{{dado.cidade}}
										</td>
										<td>
											{{dado.idade}}
										</td>
										<td>
											{{dado.numero}}
										</td>
										
										<td>
											{{dado.tempo}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div><!-- bloco baixo-->

				<hr style="border-top: 2px solid rgba(0, 150, 136, 0.4);">
				<!-- FAIXA ETARIA -->
				<div class="blocoBaixo">
					<h2>Classificação por faixa etária</h2>
					 <div class="row">                         
						<div class="col-xs-4">
							<label for="search">Pesquisar:</label>
							<select ng-model="sexo" class="form-control" required>
								<option value="" selected>Sexo</option>
								<option>Masculino</option>
								<option>Feminino</option>
							</select>
						</div>	
							
						<div class="col-xs-4">
							<label for="search">Pesquisar Faixa Etária:</label>
							<select ng-model="faixa" class="form-control" required>
								<option value="" selected>Faixa etária</option>
								<option>16-19</option>
								<option>20-24</option>
							</select>
						</div>
					</div>
					<br>
					 <div class="panel panel-default">
						<div class="panel-body">
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Nome</span></th>
										<th><span>Sexo</span></th>
										<th><span>Equipe</span></th>
										<th><span>Cidade</span></th>
										<th><span>Idade</span></th>
										<th><span>Numero</span></th>
										<th><span>Tempo</span></th>
										<th><span>Faixa</span></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dado in corredorTempoFaixa | filter:sexo | filter:faixa |orderBy:'nome'">
										<td>
											{{dado.nome}}
										</td>

										<td>
											{{dado.sexo}}
										</td>

										<td>
											{{dado.equipe}}
										</td>

										<td>
											{{dado.cidade}}
										</td>
										<td>
											{{dado.idade}}
										</td>
										<td>
											{{dado.numero}}
										</td>
										
										<td>
											{{dado.tempo}}
										</td>
										
										<td>
											{{dado.faixa}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div><!-- bloco baixo-->
				
				<hr style="border-top: 2px solid rgba(0, 150, 136, 0.4);">
				<!-- MIPIBUENSE -->
				<div class="blocoBaixo">
					<h2>Classificação Mipibuense</h2>
					 <div class="row">                         
						<div class="col-xs-4">
							<label for="search">Pesquisar:</label>
							<select ng-model="sexoMipibuense" class="form-control" required>
								<option value="" selected>Sexo</option>
								<option>Masculino</option>
								<option>Feminino</option>
							</select>
						</div>
					</div>
					<br>
					 <div class="panel panel-default">
						<div class="panel-body">
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Nome</span></th>
										<th><span>Sexo</span></th>
										<th><span>Equipe</span></th>
										<th><span>Cidade</span></th>
										<th><span>Idade</span></th>
										<th><span>Numero</span></th>
										<th><span>Tempo</span></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dado in corredorTempoLocal | filter:sexoMipibuense | orderBy:'tempo'">
										<td>
											{{dado.nome}}
										</td>

										<td>
											{{dado.sexo}}
										</td>

										<td>
											{{dado.equipe}}
										</td>

										<td>
											{{dado.cidade}}
										</td>
										<td>
											{{dado.idade}}
										</td>
										<td>
											{{dado.numero}}
										</td>
										
										<td>
											{{dado.tempo}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div><!-- bloco baixo-->
				
			</div>
		</div>
	</body>
</html>